<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BGBarbers"
        tools:targetApi="31">
        <activity
            android:name=".BarberHomepage"
            android:exported="false" />
        <!-- This is now just a regular activity, not the starting one -->
        <activity
            android:name=".MainActivity"
            android:exported="true">

            <!-- The intent-filter has been removed from here -->
        </activity> <!-- ✅ CORRECT: The LAUNCHER filter is now in the 'roles' activity -->
        <activity
            android:name=".roles"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- The sign-up activity declaration -->
        <activity
            android:name=".signup"
            android:exported="true" /> <!-- The homepage activity declaration -->
        <activity
            android:name=".homepage"
            android:exported="true" />
    </application>

</manifest>